<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('head') %>
</head>
<body>
    <header>
        <%- include('header') %>
    </header>
    <nav>
        <%- include('nav') %>
    </nav>

    <article>
        <div class="container text-center">
            <div class="row justify-content-lg-center align-items-center">
                <% prodlist.forEach(function(product) { %>
                    <div onclick="location.href='detail/<%= product._id %>'" class="prod-wrapper col-md-3" >
                        <label style="cursor:pointer;">
                        <img class="img-wrapper img-large" src="<%= product.image %>">
                        <br><br>
                        <h6><%= product.name %></h6>
                        <h6>가격 : <%= product.price.toLocaleString() %>원</h6>
                        </label>
                        <br><br>
                    </div>
                <% }) %> 
            </div>
        </div>
    </article>

    <footer>
        <%- include('footer') %>
    </footer>
</body>
</html>